.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.logcontainer {
    margin-top: 20%;
}
.login {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.button {
    margin-top: 2rem;
    display: flex;
    justify-content: right;
}
.form-group {
    margin-top: 10%;
}
.form-check {
    margin-top: 1rem;
}