.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.logcontainer {
    margin-top: 20%;
    width: 45%;
}
.login {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin-left: auto; */
    /* margin-top: 30%; */
}
.button {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
}
.form-group {
    margin-top: 10%;
}