.container {
    /* border: rgb(119, 118, 118) 1px solid; */
    width: 70vw;
    height: 85vw;
    display: block;
    border-radius: 4px;
    margin-top: 1.5rem;
    
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.518);
}
.status {
    display: grid;
    grid-template-columns: auto auto;
    margin: 3rem;
}
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: #713ABE;
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
    transition: 0.5s background-color;
}
.status-container:hover {
    /* transition: 2s; */
    background-color: #806d9c;
}
.status-container p {
    padding-top: 0.5rem;
    color: rgb(200, 200, 200);
    font-size: 1.2rem;
    /* font-weight: 600; */
    margin: 0;
}





.done {
    margin-left: auto;
    margin-right: 0;
}
.all {
    margin-left: auto;
    margin-right: 0;
}