.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.regcontainer {
    margin-top: 20%;
}
.register {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 10%;
}
.button {
    margin-top: 2rem;
    display: flex;
    justify-content: right;
}